APP_NAME=Hybrid Search RAG
APP_VERSION=0.1.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=internal_document_chunks
DENSE_EMBEDDING_DIMENSIONS=384